.app {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.header {
  margin-bottom: 24px;
  text-align: center;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.header p {
  color: var(--color-text-secondary);
  font-size: 14px;
}
.home-welcome{
  margin: 15px 0 15px 0;
}